@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "VAG Rounded";
    src: url("./assets/fonts/VAG\ Rounded\ Regular.ttf");
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
}